body
{

    text-align: center;
    padding-top: 5%;
    display: block;
    font-family: cursive;


}

#starGame{
border: none;
    padding: 0;
    border-radius: 15px;
    width: 300px;
    height: 90px;
    background-color: transparent;
}

#starGame img{

width: 100%;

}

#wordGuess span 

{
vertical-align: bottom;
font-size: 2em;
border-bottom: 2px solid black;
width: 30px;
text-align: center;
margin-right: 6px;
display: inline-block;

}

.endGame{
    display: none;
}

.imgContainer

{

    display: inline-block;

}

.imgContainer img

{

width: 70%;
}

#containerGame
{

text-align: start;
display: none;
margin-left: 5%;
width: 30%;

}

input
{

    border-radius: 5px;
    width: 15%;
}

button{
    border-color: crimson;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}

#FinalImageMessage
{

max-width: 30%;

}