#starGame{
border: none;
    padding: 0;
    border-radius: 15px;
    width: 300px;
    height: 90px;
    background-color: transparent;
}

#starGame img{

width: 100%;

}

#palabraAdivinar span 

{
vertical-align: bottom;
font-size: 2em;
border-bottom: 2px solid black;
width: 30px;
text-align: center;
margin-right: 6px;
display: inline-block;

}

.endGame{
    display: none;
}